        /*
         * Monket Calendar 0.9
         *  by Karl O'Keeffe
         *  24 June 2005
         *
         * Homepage: http://www.monket.net/wiki/monket-calendar/
         * Released under the GPL (all code)
         * Released under the Creative Commons License 2.5 (without phpicalendar)
         */

.hidden {
    display: none !important;
}

html, body {
	height: 100%;
}


.monket-main, .monket-main-inner {
	height: 100%;
}

#calendar {
	height: 450px;
	width: 750px;
	margin: 10px;
	padding: 0 5px;
}

#calendar .day-header {
	overflow: hidden;
}

* html #calendar .week, 
* html #calendar .day-header, 
* html #calendar .dummy-week {
	width: 99%;
}

.prev-month, .next-month {
	height: 20px;
	width: 20px;
}

.prev-month a, .next-month a {
	display: block;
	height: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}

#calendar.full .prev-month, #calendar.full .next-month {
	height: 200px;
}

.prev-month a:hover, .next-month a:hover {
	background: none;
}

.prev-month {
	float: left;
	background-image: url(../images/prev-month-hover.png);
}

.prev-month a {
	background-image: url(../images/prev-month.png);
}

.next-month {
	float: right;
	background-image: url(../images/next-month-hover.png);
}

.next-month a {
	background-image: url(../images/next-month.png);
}

.prev-month, .prev-month a {
	background-position: center right;
	background-repeat:  no-repeat;
}

.next-month, .next-month a {
	background-position: center left;
	background-repeat:  no-repeat;
}


#calendar.full {
	height: auto;
}

#calendar * {
	font-size: 11px;
	font-family: Tahoma;
}

#calendar table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
        
#calendar .week {
    overflow: hidden; 
    height: 60px;
    border: 1px solid #DDD;
}

#calendar.full .week {
	overflow: auto;
	height: auto;
}

#calendar .dummy-week {
	border-right: 1px solid #FFF;
	border-top: 1px solid #DDD;
}

#calendar .week table, #calendar .dummy-week table {
	border-collapse: separate;
}

#calendar th, #calendar td {
    width: 14.29%;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

#calendar .header th {
    padding-bottom: 5px;
    font-weight: normal;
}

#calendar .week th, #calendar .week td {
    border-left: 1px solid #DDD;
}

#calendar .week th {
    text-align: left;
    font-weight: normal;
    color: #888;
    height: 16px;
}

#calendar .dummy-week td {
  border-left: 1px solid #FFF;
  height: 16px;
  b ackground: red;
}

#calendar .week th .day-number a {
   float: right;
   color: #888;
   text-decoration: none;
   padding: 2px;
   margin: 0;
}

#calendar .week td .month-text {
	float: right;
	padding: 2px;
	color: #DDD;
	font-weight: bold;
}

#calendar .week td .today {
    background: url(../images/today-fade.png) top center repeat-x;
}

#calendar .week td.today .day-number {
	color: #555;
}

.numeroDia {
	color:#555;
}

#calendar .week td.today .new-event:hover span {
	color: #555;
}

#calendar .week .padding {
	display: hidden;
}


.color-1 {
	border-color: #D33 !important;
}

.color-1, .color-1 .text {
	background-color: #F55 !important;
}

.color-2 {
	border-color: #36D !important;
}

.color-2, .color-2 .text {
	background-color: #58F !important;
}

.color-3 {
	border-color: #DD8311 !important;
}

.color-3, .color-3 .text {
	background-color: #FFA533 !important;
}

.color-4 {
	border-color: #664488 !important;
}

.color-4, .color-4 .text {
	background-color: #8866AA !important;
}

.color-5 {
	border-color:  #383 !important;
}

.color-5, .color-5 .text {
	background-color: #5A5 !important;
}


#calendar .week td .event {
    border: 1px solid #777;
    background-color: #999;
    margin-bottom: 1px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0;
}

#calendar .week td .event.editable .text {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#calendar .event.editable {
	cursor: pointer;
}

#calendar .week td .event.hover-start {
	border-left-width: 7px !important;
	padding-left: 0 !important;
}

#calendar .week td .event.hover-end {
	border-right-width: 7px !important;
	padding-right: 0 !important;
}

#calendar .week td .event .description {
    display: none;
}

#calendar .week td .event.start {
	padding-left: 6px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;                                                                                  
}

#calendar .week td .event.end {
	padding-right: 6px;
	-moz-border-radius-topright: 10px;                                                                                  
	-moz-border-radius-bottomright: 10px;                                                                                  
}

#calendar .week td .event.all-day {
}

#calendar .week td .event .text-outer {
   padding: 0 2px;
}

#calendar .week td .event .text {
    color: #FFF;
    background-color: #999;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#calendar .week td .event.ediable .text {
    cursor: pointer;
}

#calendar .week td .event:hover .tooltip {
	display: block;
	position: absolute;
}

#calendar .week td .event .tooltip {
	display: none;
	border: 1px solid #CCA;
	background: #FFD;
	color: #666;
	z-index: 100;
	margin-top: 2px;
	margin-left: -1px;
	padding: 1px 4px;
}

#calendar .week td .event form {
	margin: 0;
	padding-left: 2px;
	background: #FFF;
}

#calendar .week td .event input {
	border: none;
	margin: 0;
	padding: 0;

	font-size: 11px;
	font-family: tahoma, verdana, sans-serif;

	background: #FFF;
	color: #000;
}


#calendar .week td .event.start input {
    padding-left: 0;
}

#calendar .week td .event.end input {
    padding-right: 0;
}

#calendar .week td .event input.delete {
	background-image: url(../images/delete.gif);
	background-position: center right;
	background-repeat:  no-repeat;
}

#calendar .new-event {
    display: block;
    cursor: pointer;
    text-align: left;
}

#calendar .new-event span {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;   
    text-align: left;
    text-decoration: none;
    font-weight: normal;
    padding-left: 16px;
    margin: 2px;
    height: 16px;
    background: url(../images/new-event-faded.png) top left no-repeat;
    margin-right: 0px;
}

* html #calendar .new-event span {
    margin-right: 0;
}

#calendar .new-event:hover span {
   color: #888;
   width: auto;
   margin-right: 0;
   background-image: url(../images/new-event.png);
}


#calendar .td-m .event .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow : ellipsis;
}

#calendar .td-m {
    height: 0px;
}

#calendar .td-s {
}

#calendar .single-day {
	height: 1000px;
	overflow: hidden;
}

#calendar.full .single-day {
	height: auto !important;
}


#calendar .working .text {
   background-image: url(../images/refresh.gif);
   background-position: center right;
   background-repeat: no-repeat;
}

#calendar .update-failed .text {
   background-image: url(../images/warning.gif);
   background-position: center right;
   background-repeat: no-repeat;
}

.border {
   border: 1px solid red;
}

#calendar .more {
   display: block;
   text-decoration: none;
   cursor: pointer;   

   width: 1px;
   
   position: absolute;
   margin-top: -14px;
   padding-bottom: 0px;
   z-index: 10;
   height: 13px;
   
   background: url(../images/fade.png) bottom center no-repeat;   
   b order: 1px dotted blue !important;
}

#calendar.full .more {
	display: none;
}

#calendar .more:hover {
   backg round-image: url(../images/more-highlight.gif);
}


.calendars {
  float: right;
  border: 1px solid #CCC;
  margin: 10px;
  padding: 5px;
  width: 175px;
}


.calendars .links {
  text-align: right;
  display: block;
  padding: 1px 3px;
}

.calendars .links a {
  color: #FFF;
}

.calendars .cal-details {
  float: left;
  pad ding: 1px 3px;
}

.calendars .cal-details * {
	float: left;
}

.calendars .cal-details input {
	margin-top: 2px;
}

/* IE only */
* html .calendars .cal-details input {
	margin-top: -2px;
}

/* Opera only */
@media screen and (min-width: 0px) {
  .calendars .cal-details input {
    margin-top: -1px !important;
  }
}

.calendars .name {
	margin-top: 1px;
}

.calendars .calendar-info {
  color: #FFF;
  background: #999;
  border: 1px solid #777;
  margin: 2px;
  padding-bottom: 1px;
  clear: both;
}

#show-hide-full {
	float: right;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}


label {
	cursor: pointer;
}


.faded {
	color: #888;
}


.drag-event {
	position: absolute;
	z-index: 200;
	width: 100px;
	height: 14px;
	border: 3px solid #99D;
	background: #CCF;
	cursor: move;
	overflow: hidden;

	-moz-border-radius: 10px;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
        -moz-opacity: .50;
        -khtml-opacity: .50;
        opacity: .50;
}

.drag-event.start {
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-left-color: #66A;
}

* html .start {
	border-left-color: #66A;
}

.drag-event.end {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-right-color: #66A;
}

* html .end {
	border-right-color: #66A;
}

#loading {
	position: absolute;
	top: 0;
	right: 0;
	background: red;
	padding: 5px;
	color: #FFF;
	font-weight: bold;
}

.delete-button {
        padding-right: 13px;
        background-image: url(../images/delete.png);
        background-position: center right;
        background-repeat:  no-repeat;
	cursor: pointer;
}

.delete-button.hover, .delete-button:hover {
        background-image: url(../images/delete-hover.png);
}

* html .delete-button {
        background-image: url(../images/delete-hover.gif);
}

.filler-cell, .td-m {
	height: 200px;
}

.filler-cell * {
	display: block;
	height: 0;
	overflow: hidden;
}

