.padding
{
	padding: 70px;
}
.navbar-brand
    {
      width: 50px;
      height: 50px;
      padding-top: 0px;
    }

    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .loading {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(<?php echo site_url('images/loading.gif') ?>) center no-repeat #fff;
    }
    .icono
    {
      width: 55px;
      height: 55px;
    }
    .icono-sub
    {
      width: 30px;
      height: 30px;
    }
    var(navpantalla{
      top:#cabecera_menu #menu.top;
      left:#cabecera_menu #menu.left;
    })
    .menu-arriba
    {
      position: 'absolute',
      top: navpantalla.top,
      left:navpantalla.left
      z-index:100
    }