@charset "utf-8";
.encabezado {
	font-size: 14pt;
	font-weight:bold;
}

.datos
{
	font-size:10pt;
}

.titulos {
	font-weight: bold;
	font-size:10pt;
}
.nota
{
	font-size:8pt;
}

.tablaDiag
{
    
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-color: silver;
    border-top-color: silver;
}

.titulosDiag
{
    
    text-align: center;
    font-size: 12pt;
    border-left-style: solid;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-style: solid;
    border-bottom-color: silver;
}

.datosDiag
{
    
    font-size: 10pt;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: silver;
    border-left-color: silver;
}

.medicamentos
{
	font-size:10pt;
}

.t_medicamentos
{
    width: 100%;
}

body
{
    font-family: 'Arial';
    /*font-size: 10pt;*/
}